[Unit]
Description=Prometheus Server
After=cloud-final.service cloud-init.service cloud-config.service

[Service]
Type=simple
ExecStart=/prometheus/bin/prometheus.sh
EnvironmentFile=/etc/environment
User=cloud

[Install]
WantedBy=multi-user.target