<?xml version="1.0" encoding="UTF-8"?>
<!-- Log4j configuration file for local deployment purpose only -->
<Configuration>

    <Properties>
        <Property name="appID">TEST</Property>
        <Property name="hub">CI</Property>
        <Property name="environment">NONE</Property>
        <Property name="logLevel">WARN</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%-6level %cdllAttributes %n"/>
        </Console>
    </Appenders>

    <Loggers>
        <AsyncLogger name="AsyncLogger" level="${logLevel}" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </AsyncLogger>
        <AsyncRoot level="${logLevel}">
            <AppenderRef ref="ConsoleAppender"/>
        </AsyncRoot>
    </Loggers>

</Configuration>

